* {
    box-sizing: border-box;
}
body {
    background-color: #f5f0ea;
    margin: 0;
}
p,
h1,
a {
    color: #112385;
    font-family: 'Abril Fatface', cursive;
}
p {
    text-align: center;
}

.grid_forside {
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #F0E3D4;
    height: 700px;
    max-width: 1400px;
    border-radius: 5px;
    
}

#grid_a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#title h1 {
    font-size: 9.5rem;
    margin: 0;
    text-align: center;
    padding-top: 40px;
}
a {
    background-color: #112385;
    color: #F0E3D4;
    width: 100%;
    padding: 15px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 5px;
}
#forside,
#portfolio,
#mig {
    position: absolute;
}
#forside {
    top: 15%;
    left: 90%;
}
#portfolio {
    top: 48%;
    left: 90%;
}
#mig {
    top: 80%;
    left: 90%;
}

/* forside animation */

.forside_anim {
    animation-name: forside_kf;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    transition: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes forside_kf {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-25%);
    }
}
.portfolio_anim {
    animation-name: portfolio_kf;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    transition: ease-in-out;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;

}

@keyframes portfolio_kf {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.mig_anim {
    animation-name: mig_kf;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    transition: ease-in-out;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;

}

@keyframes mig_kf {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-75%);
    }
}
.stop {
    animation-play-state: paused;
}

/* forside responsive */

@media (max-width: 850px) {

    .grid_forside {
        grid-template-columns: 1fr;
        grid-template-rows: 0.75fr 0.5fr;
    }
    #title h1 {
        padding-top: 25px;
        font-size: 6rem;
    }
    #forside {
        top: 10%;
        left: 90%;
    }
    #portfolio {
        top: 40%;
        left: 90%;
    }
    #mig {
        top: 70%;
        left: 90%;
    }
}